body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0 15%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 100px 15%;
    display: flex;
    background-color: #1F2937;
    gap: 50px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.left-text {
    font-size: 18px;
    color: #E5E7EB;
}

.placeholder-img {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

.information {
    padding: 75px 15%;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
}

.info-boxes {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    color: #6d6d6d;
}

.quote-section {
    padding: 75px 15%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    align-self: flex-end;
}